@font-face {
  font-family: 'Caviar_Dreams';
  src: url(/fonts/Caviar_Dreams.ttf);
}

body {
  font-family: 'Caviar_Dreams';
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 150px;
  padding-top: 30px;
  background: #ffffff no-repeat center url(/img/wall.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;

}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}


h1 {
  width: 255px;
  margin: 0 auto 8px;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  font-family: 'Caviar Dreams';
  text-shadow: rgb(180, 176, 176) 0px -6px 10px;
  color: rgb(255, 255, 255);

}

.site-header img {
  display: block;
  margin: 0 auto;
}


.links {
  display: flex;
  align-items: center;
  text-align: center;
}


.linkVk {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 5%;
}

.linkInst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 75%;

}

.logoAsk {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 90%;
}

.headerInformathion {
  display: flex;
  flex-direction: row;
  align-items: center;

}



/*эффект паралакса фото*/
.paralax__theme {
  align-items: center;
  text-align: center;
  color: #000000;
}

.paralax__theme {
  background-image: url("/img/IMG_4.JPG");

  /* Set a specific height */
  min-height: 350px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax__theme.p {
  /* font-weight: bolder;
  font-size: medium;
  color: aqua; */
}

/*Адаптация к телефону*/
/* @media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
} */
/* Стилизация ползунка */
/* Стилизация контейнера слайдера */


.light { /* Расположение слева от ползунка */
  background-image: url("/img/lightver.png");

}

.night {/* Расположение справа от ползунка */
  background-image: url("/img/darkver.png");
}



.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Высота равная высоте экрана */
}

#themeSlider {
  width: 300px;
  /* Уменьшенная длина слайдера */
  -webkit-appearance: none;
  /* Скрытие стандартного стиля слайдера в Safari */
  appearance: none;
  background: transparent;
}

#themeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  /* Ширина ползунка */
  height: 30px;
  /* Высота ползунка */
  border-radius: 50%;
  /* Овальная форма ползунка */
  background: #000000a9;
  /* Цвет ползунка */
  cursor: pointer;
  transition: all 0.3s;
  /* Плавность анимации */
}

#themeSlider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3498db;
  cursor: pointer;
  transition: all 0.3s;
}

/* Стили для надписей слева и справа */
.slider-label {
  position: absolute;
  color: white;
  font-size: 20px;
}

.slider-label-left {
  left: 10px;
  /* Установка слева от экрана */
}

.slider-label-right {
  right: 10px;
  /* Установка справа от экрана */
}


/* Окно отображения изображения */
#imageDisplay {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-size: cover;
}

/* Окно отображения изображения */
#imageDisplay {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-size: cover;
}


table {
  display: flex;
  justify-content: center;
}

tr {
  display: flex;
  margin: 10px;
}

td {
  position: relative;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn span {
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}



/* headerInformathion список услуг 3 ссылки  */





.homePage {
  text-align: center;
  flex: 50%;
}

.working {
  text-align: center;
  flex: 50%;
}

.contacts {
  text-align: center;
  flex: 50%;
}


.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}



/*    среднее    */

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
  text-align: center;
}

.features p {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  /* background-position: center top; */
  text-transform: uppercase;
}


/*    Легенда о нас  ТВОЙ ЛЮБИМЫЙ БЬЮТИ САЛОН   */
.storyLeunets {
  font-size: 15px;
  font-weight: bolder;
  line-height: 20px;
  background-image: url(/img/grafica.png);
  background-color: rgba(223, 160, 213, 0.207);
  color: #000000;
}





/*     Что выделяет нас среди конкурентов?   */

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
}

/*    Отец нижнего    */
.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}


/*    Нижний контейнер описание примуществ    */
.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}



/* дизайн выпадающего списка */
/* 
.popup {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
} */